@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-1: #701531;
    --brand-2: #183324;
    --brand-3: #f2c44b;
    --brand-4: #f2bc32;
}

.internal-link:before {
    background: var(--brand-4);
    bottom: 0;
    content: '';
    height: 55%;
    left: -2%;
    position: absolute;
    width: 104%;
    z-index: -1;
}

.quote:before,
.quote:after {
    color: var(--brand-3);
    height: 5rem;
    position: absolute;
    width: 5rem;
}

.quote:before {
    background: url('../static/open-quotes.png') no-repeat center center;
    background-size: contain;
    content: '';
    left: 0;
    top: 0;
    transform: translateY(-100%) translateX(-100%);
    z-index: -1;
}
.quote:after {
    background: url('../static/close-quotes.png') no-repeat center center;
    background-size: contain;
    bottom: 0;
    content: '';
    right: 0;
    transform: translateY(50%) translateX(-50%);
}
